#loginFormWrapper {
    border: 2px solid #781e9f3b;
    border-radius: 10px;
    box-shadow: 1px -2px #ff00e94d;
    width: 250px;
    height: 250px;
    position: absolute;
    top: 30%;
}

#loginFormWrapper, form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    margin: 10px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: hwb(0deg 80% 20%);
    color: black;
}

button {
    margin-top: 15px; 
    background-color: #90657c !important;
}

mat-spinner {
    position: absolute;
    left: 45%;
    top: 45%;
}

@media screen and (max-width: 1100px) {
    #loginFormWrapper {
        margin-left: 40%;
    }
}

@media screen and (max-width: 1000px) {
    #loginFormWrapper {
        margin-left: 37%;
    }
}

@media screen and (max-width: 700px) {
    #loginFormWrapper {
        margin-left: 37%;
    }
}

@media screen and (max-width: 450px) {
    #loginFormWrapper {
        margin-left: 22%;
    }
}

@media screen and (max-width: 400px) {
    #loginFormWrapper {
        margin-left: 18%;
    }
}

@media screen and (max-width: 300px) {
    #loginFormWrapper {
        margin-left: 5%;
    }
}

@media screen and (min-width: 1100px) {
    #loginFormWrapper {
        margin-left: 40%;
    }
}