.product-wrapper-card {
    width: 250px;
    height: 300px;
}

mat-card-header{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.mat-card-image:first-child{
  margin-top: 0;
}

.product-wrapper-image{
  max-width: 200px;
  height: 180px;
  margin-left: auto;
  margin-right: auto;
}

.productTitle{
  color:white;
}