<mat-card class="product-wrapper-card">
  <img mat-card-image class="product-wrapper-image" src="{{product.image}}" alt="{{product.title}}">
  <mat-card-header class="product-wrapper-info">
    <mat-card-title *ngIf="product.title.length<25; else slicedProductTitle">
        {{product.title}}
    </mat-card-title>
    <ng-template #slicedProductTitle>
      <mat-card-title>
        {{product.title.slice(0,25)+"..."}}
     </mat-card-title>
    </ng-template>
    <mat-card-subtitle>${{product.price}}</mat-card-subtitle>
  </mat-card-header>
</mat-card>