<categories (requestedProducts)="displayRequestedProducts($event)"></categories>

<mat-spinner *ngIf="(loading$|async);else products" [diameter]="50"></mat-spinner>

<ng-template #products>
    <search-bar (findProductByName$)="findProductByName($event)"></search-bar>

    <mat-grid-list cols="{{columnsNumber}}" rowHeight="350px">
        <mat-grid-tile *ngFor="let product of (products$|async)">
            <product-wrapper 
                [product]="product">
            </product-wrapper>
        </mat-grid-tile>
    </mat-grid-list>
</ng-template>